<form [formGroup]="form" (submit)="submit()">

  <div class="row">
    <div class="col-lg-12">
      <nb-card accent="success">

        <nb-card-header >
          {{title}}
        </nb-card-header>

        <nb-card-body>

          <div class="row mb-3">

            <div class="col-md-4 col-12">
              <label for="type" class="label">Tipo:</label>
              <app-category-type formControlName="type" [submmited]="submmited"> </app-category-type>
              <error-message [message]="'Tipo é obrigatório'" [show]="(type.errors?.required && (submmited || this.form.touched))"></error-message>
            </div>

            <div class="col-md-8 col-12">
               <label for="name" class="label">Nome:</label>
               <input id="name" type="text" nbInput fullWidth placeholder="Nome:" formControlName="name"  [status]="submmited ? getStatus('name') : 'basic' ">
               <error-message [message]="'Nome é obrigatório'" [show]="(name.errors?.required && (submmited || this.form.touched))"></error-message>
            </div>

            <div class="col-md-6 col-12">
              <label for="waterValue" class="label">Valor da Água:</label>
              <app-currency formControlName="waterValue" [submitted]="submmited" ></app-currency>
              <error-message [message]="'valor da água é obrigatório'" [show]="(waterValue.errors?.required && (submmited || this.form.touched))"></error-message>
            </div>

            <div class="col-md-6 col-12">
              <label for="waterValue" class="label">Valor da Categoria:</label>
              <app-currency formControlName="categoryValue" [submitted]="submmited" ></app-currency>
              <error-message [message]="'valor da categoria é obrigatório'" [show]="(categoryValue.errors?.required && (submmited || this.form.touched))"></error-message>
            </div>

          </div>

        </nb-card-body>

        <nb-card-footer>

          <div class="d-flex justify-content-between">
            <button type="button" nbButton outline status="basic" (click)="back()">
              <nb-icon icon="arrow-back-outline"></nb-icon>
            </button>

            <button type="submit" nbButton outline status="success">
              <nb-icon icon="save-outline"></nb-icon>
            </button>
          </div>
        </nb-card-footer>

      </nb-card>

    </div>

  </div>
</form>
