<form [formGroup]="form" (submit)="submit()" *ngIf="!hydrometerProposals">

  <nb-card>
    <nb-card-header>
      {{title}}
    </nb-card-header>

    <nb-card-body>

      <div class="row mb-3">

        <div class="col-3">
          <label for="name" class="label">Referência:</label><br/>
          <app-reference formControlName="reference" ></app-reference>
          <error-message [message]="'Nome é obrigatório'"></error-message>
        </div>

        <div class="col-3 offset-md-6 align-self-end">
          <button type="submit" fullWidth nbButton outline status="info">
            <nb-icon icon="search-outline"></nb-icon>
          </button>
        </div>

      </div>

    </nb-card-body>

    <nb-card-footer>

      <div class="d-flex justify-content-between">
        <button type="button" nbButton outline status="basic" (click)="back()">
          <nb-icon icon="arrow-back-outline"></nb-icon>
        </button>
      </div>
    </nb-card-footer>

  </nb-card>

</form>

<nb-card *ngIf="hydrometerProposals && loaded" class="reset">

<nb-card-header>
  <div class="d-flex justify-content-between">
    <span> {{title}} </span>
    <span> 
      Referência: {{form.value.reference | reference}} </span>
  </div>
</nb-card-header>

<nb-card-body>

  <ngx-app-table [nbSpinner]="loading" [tableStriped]="false" [tableBordered]="false">

    <thead>
      <tr>
        <th class="col-3 align-middle">
          Endereço:
        </th>

         <th class="col-1 align-middle text-center"> 
          Coleta Anterior: 
          <br/>
          {{lastReference| reference}}
        </th>
        
        <th class="col-1 align-middle text-center">
          Coleta Atual: 
          <br/>
          {{actualReference | reference}}
        </th>
        
        <th class="col-2 align-middle text-center">
          Consumo 
          <br/>
          Real:
        </th>

        <th class="col-2 align-middle text-center">
          Consumo
          <br/>
          Considerado:
        </th>
        
        <th class="col-2 align-middle text-center">
          Valor:
        </th>

        <td class="col-1 align-middle text-center" > 
          Selecionado
        </td>
      </tr>
    </thead>
   
    <tbody>
      <ng-container *ngFor="let proposal of hydrometerProposals">

        <tr [ngClass]="proposal.selected ? 'bg-success' : 'table-primary'" >
          <td class="col-12 text-center align-middle" colspan="8"> {{proposal.area}} </td>
        </tr>

        <tr *ngFor="let hydrometer of proposal.hydrometers" [ngClass]="hydrometer.alreadyExists ? 'table-info' : (hydrometer.selected ? 'table-success' : 'table-ligth')">
          <td class="align-middle text-center"> {{hydrometer.address.alias}} </td>
          
          <td class="align-middle text-center">  
            <input nbInput fullWidth [(ngModel)]="hydrometer.lastCollect.totalMeter" disabled>
          </td>
          
          <td class="align-middle text-center"> 
            <input nbInput fullWidth [(ngModel)]="hydrometer.actualCollect.totalMeter" (focusout)="selectItem(hydrometer)" [disabled]="hydrometer.alreadyExists">
          </td>

          <td class="align-middle text-center">  
            {{hydrometer.consumption | number}}
          </td>

          <td class="align-middle text-center">  
            {{hydrometer.consideredConsumption | number}}
          </td>

          <td class="align-middle text-center">  
            {{hydrometer.value | currency}}
          </td>
          
          <td class="align-middle text-center"> 
            
            <ng-container *ngIf="hydrometer.alreadyExists">
              
              <nb-icon icon="archive-outline"></nb-icon>
              Já Registrado
            </ng-container>
            

            <ng-container *ngIf="!hydrometer.alreadyExists">
              <nb-checkbox [status]="hydrometer.selected ? 'success' : 'primary' " [checked]="hydrometer.selected" [disabled]="hydrometer.alreadyExists"></nb-checkbox>
            </ng-container>

          </td>
        </tr>
          
      </ng-container>

    </tbody>

    <tfoot>
      <tr>
        
        <td>
          <button type="button" fullWidth nbButton outline status="basic" (click)="back()">
            voltar
          </button>
        </td>

        <td colspan="5"></td>
        
        <td>
          <button type="button" fullWidth nbButton outline status="basic" (click)="confirm()">
            Confirmar <nb-icon icon="checkmark-circle-2-outline"></nb-icon>
          </button>
        </td>

      </tr>
    </tfoot>

  </ngx-app-table>

</nb-card-body>

</nb-card>