<nb-card>

  <nb-card-header>
    Categorias
  </nb-card-header>

  <nb-card-body>

    <ngx-app-table [nbSpinner]="loading" [tableStriped]="true">
      <thead>
        <tr>

          <th class="col-1 align-middle" (click)="order('type')">
              Tipo:
              <nb-icon *ngIf="filter.sort.field === 'type' && filter.sort.direction === 'ASC'" icon="arrow-ios-upward-outline"></nb-icon>
              <nb-icon *ngIf="filter.sort.field === 'type' && filter.sort.direction === 'DESC'" icon="arrow-ios-downward-outline"></nb-icon>
          </th>

          <th class="col-4 align-middle" (click)="order('name')">
              Nome:
              <nb-icon *ngIf="filter.sort.field === 'name' && filter.sort.direction === 'ASC'" icon="arrow-ios-upward-outline"></nb-icon>
              <nb-icon *ngIf="filter.sort.field === 'name' && filter.sort.direction === 'DESC'" icon="arrow-ios-downward-outline"></nb-icon>
          </th>

          <th class="col-2 align-middle" (click)="order('waterValue')">
              Valor Água:
              <nb-icon *ngIf="filter.sort.field === 'waterValue' && filter.sort.direction === 'ASC'" icon="arrow-ios-upward-outline"></nb-icon>
              <nb-icon *ngIf="filter.sort.field === 'waterValue' && filter.sort.direction === 'DESC'" icon="arrow-ios-downward-outline"></nb-icon>
          </th>

          <th class="col-2 align-middle" (click)="order('categoryValue')">
              Valor Categoria:
              <nb-icon *ngIf="filter.sort.field === 'categoryValue' && filter.sort.direction === 'ASC'" icon="arrow-ios-upward-outline"></nb-icon>
              <nb-icon *ngIf="filter.sort.field === 'categoryValue' && filter.sort.direction === 'DESC'" icon="arrow-ios-downward-outline"></nb-icon>
          </th>

          <th class="col-2 align-middle" (click)="order('categoryValue')">
              Total:
              <nb-icon *ngIf="filter.sort.field === 'categoryValue' && filter.sort.direction === 'ASC'" icon="arrow-ios-upward-outline"></nb-icon>
              <nb-icon *ngIf="filter.sort.field === 'categoryValue' && filter.sort.direction === 'DESC'" icon="arrow-ios-downward-outline"></nb-icon>
          </th>

          <th class="col-1 align-middle" colspan="2">
            <button nbButton outline status="basic" fullWidth (click)="create()">
              <nb-icon icon="plus-outline"></nb-icon>
            </button>
          </th>
        </tr>
      </thead>

      <thead>
        <tr>

          <th>
            <app-category-type [(model)]="filter.type" (modelChange)="search()"></app-category-type>
          </th>

          <th>
            <input type="text" nbInput placeholder="Nome" fullWidth (keydown.enter)="search()" [(ngModel)]="filter.name">
          </th>

          <th>
            <app-currency [(model)]="filter.waterValue" placeholder="Água" (keydown.enter)="search()"></app-currency>
          </th>

          <th>
            <app-currency [(model)]="filter.categoryValue" placeholder="Categori" (keydown.enter)="search()"></app-currency>
          </th>

          <th>
            <app-currency [(model)]="filter.totalValue" placeholder="Total" (keydown.enter)="search()"></app-currency>
          </th>

          <th>
            <button nbButton outline status="basic" type="button" fullWidth (click)="reset()">
              <nb-icon icon="undo-outline"></nb-icon>
            </button>
          </th>

          <th>
            <button nbButton outline status="success" fullWidth (click)="search()">
              <nb-icon icon="funnel-outline"></nb-icon>
            </button>
          </th>
        </tr>
      </thead>

      <tbody >
        <tr *ngFor="let item of page?.content">
          <td class="align-middle">{{item.type | categoryType }}</td>
          <td class="align-middle">{{item.name }}</td>
          <td class="align-middle">{{item.waterValue | currency}}</td>
          <td class="align-middle">{{item.categoryValue | currency}}</td>
          <td class="align-middle">{{item.waterValue + item.categoryValue | currency}}</td>

          <td class="align-middle">
            <button nbButton outline status="warning" fullWidth (click)="edit(item.id)">
              <nb-icon icon="edit-2-outline"></nb-icon>
            </button>
          </td>

          <td class="align-middle">
            <button nbButton outline status="danger" fullWidth (click)="remove(item.id)" >
              <nb-icon icon="trash-2-outline"></nb-icon>
            </button>
          </td>

        </tr>
      </tbody>

      <tfoot>
        <tr>
          <td colspan="7" *ngIf="page">
            <ngx-app-table-footer [page]="page" (search)="paginate($event)">
            </ngx-app-table-footer>
          </td>
        </tr>
      </tfoot>

    </ngx-app-table>

  </nb-card-body>

</nb-card>
