<ngx-app-table [nbSpinner]="loading" [tableStriped]="true" class="border w-100" >
  <thead>
    <tr>

      <th class="col-8 align-middle" (click)="order('name')">
          Nome:
          <nb-icon *ngIf="filter.sort.field === 'name' && filter.sort.direction === 'ASC'" icon="arrow-ios-upward-outline"></nb-icon>
          <nb-icon *ngIf="filter.sort.field === 'name' && filter.sort.direction === 'DESC'" icon="arrow-ios-downward-outline"></nb-icon>
      </th>

      <th class="col-3 align-middle" (click)="order('type')">
          Número:
          <nb-icon *ngIf="filter.sort.field === 'type' && filter.sort.direction === 'ASC'" icon="arrow-ios-upward-outline"></nb-icon>
          <nb-icon *ngIf="filter.sort.field === 'type' && filter.sort.direction === 'DESC'" icon="arrow-ios-downward-outline"></nb-icon>
      </th>

      <th class="col-3 align-middle" (click)="order('total')">
          Letra:
          <nb-icon *ngIf="filter.sort.field === 'total' && filter.sort.direction === 'ASC'" icon="arrow-ios-upward-outline"></nb-icon>
          <nb-icon *ngIf="filter.sort.field === 'total' && filter.sort.direction === 'DESC'" icon="arrow-ios-downward-outline"></nb-icon>
      </th>

      <th class="col-1 align-middle" colspan="2">
      </th>
    </tr>
  </thead>

  <!--
  <thead>
    <tr>

      <th>
        <input type="text" nbInput placeholder="Nome" fullWidth (keydown.enter)="search()" [(ngModel)]="filter.name">
      </th>

      <th>
      </th>

      <th>
      </th>

      <th>
        <button nbButton outline status="basic" type="button" fullWidth (click)="reset()">
          <nb-icon icon="undo-outline"></nb-icon>
        </button>
      </th>

      <th>
        <button nbButton outline status="success" fullWidth (click)="search()">
          <nb-icon icon="funnel-outline"></nb-icon>
        </button>
      </th>
    </tr>

  </thead>
  -->


  <tbody >
    <tr *ngFor="let item of page?.content">
      <td class="align-middle">{{item | json}}</td>
      <td class="align-middle">{{item }}</td>
      <td class="align-middle">{{item }}</td>

      <td colspan="2" class="align-middle">
        <button nbButton outline status="basic" fullWidth (click)="emit(item)">
          <nb-icon icon="arrow-upward-outline"></nb-icon>
        </button>
      </td>

    </tr>
  </tbody>

  <tfoot>
    <tr>
      <td colspan="4" *ngIf="page">
        <ngx-app-table-footer [page]="page" (search)="paginate($event)">
        </ngx-app-table-footer>
      </td>
    </tr>
  </tfoot>

</ngx-app-table>
