<nb-card accent="basic">

  <nb-card-header>
    {{title}}
  </nb-card-header>

  <nb-card-body>

    <ngx-app-table [nbSpinner]="loading" [tableStriped]="true">
      <thead>
        <tr>

          <th class="col-5 align-middle" (click)="order('customer.name')">
              Nome:
              <nb-icon *ngIf="filter.sort.field === 'name' && filter.sort.direction === 'ASC'" icon="arrow-ios-upward-outline"></nb-icon>
              <nb-icon *ngIf="filter.sort.field === 'name' && filter.sort.direction === 'DESC'" icon="arrow-ios-downward-outline"></nb-icon>
          </th>

          <th class="col-3 align-middle" (click)="order('name')">
              Categoria:
              <nb-icon *ngIf="filter.sort.field === 'name' && filter.sort.direction === 'ASC'" icon="arrow-ios-upward-outline"></nb-icon>
              <nb-icon *ngIf="filter.sort.field === 'name' && filter.sort.direction === 'DESC'" icon="arrow-ios-downward-outline"></nb-icon>
          </th>

          <th class="col-3 align-middle" (click)="order('name')">
              Endereço:
              <nb-icon *ngIf="filter.sort.field === 'name' && filter.sort.direction === 'ASC'" icon="arrow-ios-upward-outline"></nb-icon>
              <nb-icon *ngIf="filter.sort.field === 'name' && filter.sort.direction === 'DESC'" icon="arrow-ios-downward-outline"></nb-icon>
          </th>

          <th class="col-1 align-middle" colspan="2">
            <button nbButton outline status="basic" fullWidth (click)="create()">
              <nb-icon icon="plus-outline"></nb-icon>
            </button>
          </th>
        </tr>
      </thead>

      <thead>
        <tr>

          <th>
            <input id="name"  [(ngModel)]="filter.customer.name" (keydown.enter)="search()" type="text" nbInput fullWidth placeholder="Nome:" >
          </th>

          <th>
            <app-select-category></app-select-category>
          </th>

          <th>
            <app-select-area ></app-select-area>
          </th>

          <th>
            <button nbButton outline status="basic" type="button" fullWidth (click)="reset()">
              <nb-icon icon="undo-outline"></nb-icon>
            </button>
          </th>

          <th>
            <button nbButton outline status="success" fullWidth (click)="search()">
              <nb-icon icon="funnel-outline"></nb-icon>
            </button>
          </th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let item of page?.content">

          <td class="align-middle" [nbTooltip]='(item.customerDocument | identification)' nbTooltipStatus="basic">
            {{item.customerName}}
          </td>

          <td class="align-middle" [nbTooltip]='(item.categoryTotal | currency)' nbTooltipStatus="basic">
            {{item.categoryName}} {{item.categoryType | categoryType}}
          </td>

          <td class="align-middle" [nbTooltip]='(item.addressDetail)' nbTooltipStatus="basic">
            {{item.addressName}}
          </td>

          <td class="align-middle">
            <button nbButton outline status="warning" fullWidth (click)="edit(item.id)">
              <nb-icon icon="edit-2-outline"></nb-icon>
            </button>
          </td>

          <td class="align-middle">
            <button nbButton outline status="danger" fullWidth (click)="remove(item.id)" >
              <nb-icon icon="trash-2-outline"></nb-icon>
            </button>
          </td>

        </tr>
       
      </tbody>

      <tfoot>
        <tr>
          <td colspan="7" *ngIf="page">
            <ngx-app-table-footer [page]="page" (search)="paginate($event)">
            </ngx-app-table-footer>
          </td>
        </tr>
      </tfoot>

    </ngx-app-table>

  </nb-card-body>

</nb-card>
