<nb-card>

  <nb-card-header>
    Usúarios
  </nb-card-header>

  <nb-card-body>

    <ngx-app-table [nbSpinner]="loading" [tableStriped]="true">
      <thead>
        <tr>

          <th class="col-8 align-middle" (click)="order('name')">
              Nome:
              <nb-icon *ngIf="filter.sort.field === 'name' && filter.sort.direction === 'ASC'" icon="arrow-ios-upward-outline"></nb-icon>
              <nb-icon *ngIf="filter.sort.field === 'name' && filter.sort.direction === 'DESC'" icon="arrow-ios-downward-outline"></nb-icon>
          </th>

          <th class="col-3 align-middle" (click)="order('documentNumber')">
              Documento:
              <nb-icon *ngIf="filter.sort.field === 'documentNumber' && filter.sort.direction === 'ASC'" icon="arrow-ios-upward-outline"></nb-icon>
              <nb-icon *ngIf="filter.sort.field === 'documentNumber' && filter.sort.direction === 'DESC'" icon="arrow-ios-downward-outline"></nb-icon>
          </th>

          <th class="col-1 align-middle" colspan="2">
            <button nbButton outline status="basic" fullWidth (click)="create()">
              <nb-icon icon="plus-outline"></nb-icon>
            </button>
          </th>
        </tr>
      </thead>

      <thead>
        <tr>

          <th>
            <input type="text" nbInput placeholder="Nome" fullWidth (keydown.enter)="search()" [(ngModel)]="filter.name">
          </th>

          <th>


            <nb-form-field>
              <input type="text" [mask]="personType?.name === 'INDIVIDUAL' ? '000.000.000-00' : '00.000.000/0000-00'" nbInput placeholder="Documento" fullWidth (keydown.enter)="search()" [(ngModel)]="filter.documentNumber">

              <button nbSuffix nbButton ghost (click)="togglePersonType()">
                <nb-icon [icon]="personType?.name === 'INDIVIDUAL' ? 'person-outline' : 'car-outline'" pack="eva"></nb-icon>
              </button>

            </nb-form-field>
          </th>

          <th>
            <button nbButton outline status="basic" type="button" fullWidth (click)="reset()">
              <nb-icon icon="undo-outline"></nb-icon>
            </button>
          </th>

          <th>
            <button nbButton outline status="success" fullWidth (click)="search()">
              <nb-icon icon="funnel-outline"></nb-icon>
            </button>
          </th>
        </tr>
      </thead>

      <tbody >
        <tr *ngFor="let item of page?.content">
          <td class="align-middle">{{item.name }}</td>
          <td class="align-middle">{{item.documentNumber | identification}}</td>

          <td class="align-middle">
            <button nbButton outline status="warning" fullWidth (click)="edit(item.id)">
              <nb-icon icon="edit-2-outline"></nb-icon>
            </button>
          </td>

          <td class="align-middle">
            <button nbButton outline status="danger" fullWidth (click)="remove(item.id)" >
              <nb-icon icon="trash-2-outline"></nb-icon>
            </button>
          </td>

        </tr>
      </tbody>

      <tfoot>
        <tr>
          <td colspan="4" *ngIf="page">
            <ngx-app-table-footer [page]="page" (search)="paginate($event)">
            </ngx-app-table-footer>
          </td>
        </tr>
      </tfoot>

    </ngx-app-table>

  </nb-card-body>

</nb-card>
