<nb-card>

  <nb-card-header>
    {{title}}
  </nb-card-header>

  <nb-card-body>

    <ngx-app-table [nbSpinner]="loading" [tableStriped]="false">
      <thead>
        <tr>

          <th class="align-middle" (click)="order('linkDetail.customer')">
            Nome:
            <nb-icon *ngIf="filter.sort.field === 'linkDetail.customer' && filter.sort.direction === 'ASC'" icon="arrow-ios-upward-outline"></nb-icon>
            <nb-icon *ngIf="filter.sort.field === 'linkDetail.customer' && filter.sort.direction === 'DESC'" icon="arrow-ios-downward-outline"></nb-icon>
          </th>

          <th class="align-middle" (click)="order('name')">
            Número:
            <nb-icon *ngIf="filter.sort.field === 'linkDetail.customer' && filter.sort.direction === 'ASC'" icon="arrow-ios-upward-outline"></nb-icon>
            <nb-icon *ngIf="filter.sort.field === 'linkDetail.customer' && filter.sort.direction === 'DESC'" icon="arrow-ios-downward-outline"></nb-icon>
          </th>

          <th class="align-middle" (click)="order('name')">
            Endereço:
          </th>

          <th class="align-middle" (click)="order('reference')">
            Referencia:
          </th>

          <th class="align-middle" (click)="order('name')">
            Vencimento:
          </th>

          <th class="align-middle" (click)="order('name')">
            Valor:
          </th>

          <th class="align-middle" colspan="2">
            <button nbButton outline status="basic" fullWidth (click)="create()">
              <nb-icon icon="plus-outline"></nb-icon>
            </button>
          </th>
        </tr>
      </thead>

      <thead>
        <tr>

          <th>
            <input type="text" nbInput placeholder="Nome:" fullWidth (keydown.enter)="search()" [(ngModel)]="filter.customerName" />
          </th>
      
          <th>
            <input type="text" nbInput placeholder="Número:" fullWidth (keydown.enter)="search()" [(ngModel)]="filter.number" />
          </th>

          <th>
            <input type="text" nbInput placeholder="Endereço:" fullWidth (keydown.enter)="search()" [(ngModel)]="filter.addressName" />
          </th>
      
          <th>
            <app-reference [(ngModel)]="filter.reference" (keydown.enter)="search()"></app-reference>
          </th>
     
          <th>
            <app-date-reactive [(ngModel)]="filter.dueDate" (keydown.enter)="search()"></app-date-reactive>
          </th>
     
          <th>
            <input type="text" nbInput placeholder="Valor:" fullWidth (keydown.enter)="search()" [(ngModel)]="filter.addressName" />
          </th>

          <th>
            <button nbButton outline status="basic" type="button" fullWidth (click)="reset()">
              <nb-icon icon="undo-outline"></nb-icon>
            </button>
          </th>

          <th>
            <button nbButton outline status="success" fullWidth (click)="search()">
              <nb-icon icon="funnel-outline"></nb-icon>
            </button>
          </th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let item of page?.content" class='table-{{item.status}}'>
          
          <td class="align-middle"> 
            {{item.linkDetail.customer}}
          </td>
          
          <td class="align-middle"> 
            {{item.number.value}}
          </td>

          <td class="align-middle"> 
            {{item.linkDetail.address}}
          </td>
          
          <td class="align-middle"> 
            {{item.reference.value}}
          </td>
          
          <td class="align-middle">
            {{item.dueDate | date: "dd/MM/yyyy"}}
          </td>
          
          <td class="align-middle">
            {{item.totalValue | currency}}
           </td>

          <td class="align-middle">
            <button nbButton status="warning" fullWidth (click)="edit(item.id)">
              <nb-icon icon="edit-2-outline"></nb-icon>
            </button>
          </td>

          <td class="align-middle">
            <button nbButton status="danger" fullWidth (click)="remove(item.id)" >
              <nb-icon icon="trash-2-outline"></nb-icon>
            </button>
          </td>

        </tr>
      </tbody>

      <tfoot>
        <tr>
          <td colspan="8" *ngIf="page">
            <ngx-app-table-footer [page]="page" (search)="paginate($event)"></ngx-app-table-footer>
          </td>
        </tr>
      </tfoot>

    </ngx-app-table>

  </nb-card-body>

</nb-card>
