@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/dark';


$nb-themes: nb-register-theme((

  color-primary-100: #F3FFD6,
  color-primary-200: #E3FFAD,
  color-primary-300: #D0FF84,
  color-primary-400: #BCFF66,
  color-primary-500: #9DFF33,
  color-primary-600: #7BDB25,
  color-primary-700: #5CB719,
  color-primary-800: #419310,
  color-primary-900: #2E7A09,
  color-success-100: #D6FCDD,
  color-success-200: #AFFAC3,
  color-success-300: #84F1AC,
  color-success-400: #63E49F,
  color-success-500: #34D38E,
  color-success-600: #26B585,
  color-success-700: #1A977A,
  color-success-800: #107A6C,
  color-success-900: #096562,
  color-info-100: #CBF9FD,
  color-info-200: #97EDFB,
  color-info-300: #63D6F4,
  color-info-400: #3CBBEA,
  color-info-500: #0294DD,
  color-info-600: #0173BE,
  color-info-700: #01569F,
  color-info-800: #003D80,
  color-info-900: #002B6A,
  color-warning-100: #FEFDD7,
  color-warning-200: #FDFAB0,
  color-warning-300: #FAF587,
  color-warning-400: #F5EF69,
  color-warning-500: #EFE639,
  color-warning-600: #CDC429,
  color-warning-700: #ACA31C,
  color-warning-800: #8A8212,
  color-warning-900: #726B0A,
  color-danger-100: #FFEBD3,
  color-danger-200: #FFD1A8,
  color-danger-300: #FFB17C,
  color-danger-400: #FF935C,
  color-danger-500: #FF6026,
  color-danger-600: #DB411B,
  color-danger-700: #B72813,
  color-danger-800: #93140C,
  color-danger-900: #7A0708

), custom-theme, dark);