
<div *ngIf="loaded">
    <div class="row">
      <div class="col-lg-12">
        <nb-card accent="danger">

          <nb-card-header>
            Deletar Usuário 
          </nb-card-header>

          <nb-card-body>
            <div class="row mb-3">

              <div class="col-12">
                <label for="name" class="label">Nome:</label>
                <input id="name" type="text" nbInput fullWidth placeholder="Nome:" [(ngModel)]="customer.name" disabled>
              </div>

              <div [ngClass]="customer.personType === 'INDIVIDUAL'? 'col-xl-4 col-12':'col-xl-6 col-12'" >
                <label for="document" class="label">Documento:</label>
                <input id="document" disabled
                  type="text"
                  [ngModel]="customer.documentNumber"
                  [mask]="customer.personType === 'INDIVIDUAL' ? '000.000.000-00':'00.000.000/0000-00'"
                  nbInput placeholder="Documento" fullWidth >
              </div>

              <div [ngClass]="customer.personType === 'INDIVIDUAL'? 'col-xl-4 col-12':'col-xl-4 col-md-6 col-12'" *ngIf="customer.personType === 'INDIVIDUAL'" >

                <label for="membershipNumber" class="label">Número de Sócio:</label>
                <input id="membershipNumber" mask="0*" type="text" nbInput fullWidth placeholder="Número de Sócio:" [(ngModel)]="customer.membershipNumber" disabled>
              </div>

              <div [ngClass]="customer.personType === 'INDIVIDUAL'? 'col-xl-4 col-12':'col-md-6 col-12'" >
                <label for="birthDay" class="label">Data de Nascimento:</label>
                <app-date-reactive [(ngModel)]="customer.birthDay" disabled></app-date-reactive>
              </div>

            </div>

              <label for="name" class="label" *ngIf="customer.phoneNumbers.length !== 0">Telefones:</label >
              <div *ngFor="let phoneNumber of customer.phoneNumbers; let i = index">

                <div class="row mb-3">

                  <div class="col-md-6">
                    <input nbInput fullWidth [(ngModel)]="phoneNumber.number" mask="00 0 0000-0000" disabled  placeholder="Número de telefone">
                  </div>

                  <div class="col-md-3"> 
                    <nb-checkbox status="basic" [(ngModel)]="phoneNumber.preferential" disabled fullWidth>Número principal</nb-checkbox>
                  </div>

                  <div class="col-md-3">
                    <nb-checkbox status="basic" [(ngModel)]="phoneNumber.isWhatApp" disabled fullWidth >É whatsapp?</nb-checkbox>
                  </div>
                </div>
              </div>

          </nb-card-body>
          <nb-card-footer>

            <div class="d-flex justify-content-between">
              <button type="button" nbButton outline status="basic" (click)="back()">
                <nb-icon icon="arrow-back-outline"></nb-icon>
              </button>

              <button type="button" nbButton outline status="danger" (click)="commit()">
                <nb-icon icon="trash-2-outline"></nb-icon>
              </button>
            </div>

          </nb-card-footer>
        </nb-card>

      </div>

    </div>

</div>
